/* Space out content a bit */
/*
We're using CSS transitions for when
the enter and move events are triggered
for the element that has the .repeated-item
class
*/
.repeated-item.ng-enter, .repeated-item.ng-move {
	-webkit-transition: 0.5s linear all;
	-webkit-transform: scale( 1.2,1.2 );
	-o-transition: 0.5s linear all;
	-moz-transition: 0.5s linear all;
	transform: scale( 1.2,1.2 );
	transition: 0.5s linear all;
}

/*
The ng-enter-active and ng-move-active
are where the transition destination properties
are set so that the animation knows what to
animate.
*/
.repeated-item.ng-enter.ng-enter-active,
.repeated-item.ng-move.ng-move-active { 
	-webkit-transform: scale( 1,1 );
	transform: scale( 1,1 ); 
}

/*
We're using CSS keyframe animations for when
the leave event is triggered for the element
that has the .repeated-item class
*/
.repeated-item.ng-leave {
	-webkit-animation: 0.5s my_animation;
	-o-animation: 0.5s my_animation;
	-moz-animation: 0.5s my_animation;
	animation: 0.5s my_animation;
}

@keyframes my_animation {
					from { opacity: 1; }
					to { opacity: 0; }
}

/*
Unfortunately each browser vendor requires
its own definition of keyframe animation code...
*/
@-webkit-keyframes my_animation {
					from { -webkit-transform: scale( 1.2,1.2 ); transform: scale( 1.2,1.2 ); }
					to { -webkit-transform: scale( 1,1 ); transform: scale( 1,1 ); }
}

@-moz-keyframes my_animation {
					from { -webkit-transform: scale( 1.2,1.2 ); transform: scale( 1.2,1.2 ); }
					to { -webkit-transform: scale( 1,1 ); transform: scale( 1,1 ); }
}

@-o-keyframes my_animation {
					from { -webkit-transform: scale( 1.2,1.2 ); transform: scale( 1.2,1.2 ); }
					to { -webkit-transform: scale( 1,1 ); transform: scale( 1,1 ); }
}

/*animation for the profile, show and hide when logging*/

.animate-show-hide.ng-hide-add, .animate-show-hide.ng-hide-remove {
	-webkit-transition: all 500ms cubic-bezier(0.000, 1.650, 1.000, 0.035);
	-webkit-transition: all 500ms cubic-bezier(0.000, 1, 1.000, 0.035); /* older webkit */
	-o-transition: all 500ms cubic-bezier(0.000, 1.650, 1.000, 0.035);
	-moz-transition: all 500ms cubic-bezier(0.000, 1.650, 1.000, 0.035);
	display: block!important;
	transition: all 500ms cubic-bezier(0.000, 1.650, 1.000, 0.035); /* custom */
}

.animate-show-hide.ng-hide-add.ng-hide-add-active,
.animate-show-hide.ng-hide-remove { -webkit-transform: translateY(0px); -moz-transform: translateY(0px); opacity: 0; }

.animate-show-hide.ng-hide-add,
.animate-show-hide.ng-hide-remove.ng-hide-remove-active { -webkit-transform: translateY(100px); -moz-transform: translateY(100px); opacity: 1; }



.thumbnail .thumb-img { height: 200px; width: 300px; }

.thumbnail-container { -webkit-perspective: 1000px; perspective: 1000px; }

.repeated-item { -webkit-transform-style: preserve-3d; transform-style: preserve-3d; -webkit-transform-origin: 20% 40%;transform-origin: 20% 40%;}

.repeated-item .thumbnail {
	backface-visibility: hidden;
}
.repeated-item:hover .thumbnail {
	-webkit-transform: scale3d(1.1,1.1,1.1);
	box-shadow: 0 0 50px rgba(0,0,0,.3);
	transform: scale3d(1.1,1.1,1.1);
	z-index: 0;
}
.repeated-item:nth-child(3n) {
	content: '</br>';
}
/*.repeated-item:hover .thumbnail {
	-webkit-transform: rotateY( -23deg );
	box-shadow: 0 0 50px rgba(0,0,0,.3);
	transform: rotateY( -23deg );
	z-index: 0;
}
.repeated-item:nth-child(3n+1):hover .thumbnail {
	-webkit-transform: rotateY( 23deg );
	box-shadow: 0 0 50px rgba(0,0,0,.3);
	transform: rotateY( 23deg );
	z-index: 0;
}
.repeated-item:nth-child(3n+2):hover .thumbnail {
	-webkit-transform: scale( 1.1,1.1 );
	box-shadow: 0 0 50px rgba(0,0,0,.3);
	transform: scale( 1.1,1.1 );
	z-index: 0;
}*/
