<div class="jumbotron">
  <h1>I Am Hungry</h1>
  <p>I am hungry, is an ap that lets users to view recipies</p>
  <p>The users can also search the recipies, rate and comment on them.</p>
</div>
<div class="row">
  <div class="col-md-3">
    <ul class="list-group">
      <li class="list-group-item">
        <p class="text-center text-danger"><strong>Veg/Non-Veg</strong></p>
      </li>
      <li class="list-group-item">
        <input id="veg" class="pull-right" checked type="checkbox">
        <label for="veg" class="text-info">Vegitarian</label>
      </li>
      <li class="list-group-item">
        <input id="nveg" class="pull-right" checked type="checkbox">
        <label for="nveg" class="text-info">Non-Vegitarian</label>
      </li>
      <li ng-hide="!loggedIn || loggedIn.status != 'connected'">
        <a href="#" class="btn btn-info btn-block"><span class="glyphicon glyphicon-plus"></span> Add new recipie</a>
      </li>
    </ul>
  </div>
  <div class="col-md-9">
    <form class="form-horizontal" role="form">
      <div class="form-group">
        <div class="col-sm-12">
          <div class="input-group">
            <input ng-model="searchText.name" placeholder="Search" type="text" class="form-control">
            <span class="input-group-btn">
            <button class="btn" type="button"><span class="glyphicon glyphicon-search"></span></button>
            </span>
            </div><!-- /input-group -->
          </div>
        </div>
      </form>
      <div class="row thumbnail-container">
        <div class="col-sm-4 col-md-4 repeated-item" ng-repeat="recipe in awesomeThings | filter:searchText:strict">
          <div class="thumbnail">
              <img class="thumb-img" alt="300x200" ng-src="{{ recipe.img }}">
              <div class="caption">
                <h4 class="text-center">{{ recipe.name | limitTo:20 }}</h4>
                <p class="back">{{ 'recipe.desc' }}</p>
              </div>
            <div class="back">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla, doloribus?</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>